:root {
    --color-primary-main: #08012B;
    --color-secundary-main: #f2d5e0;
    --color-background-main: #08012B;
    ;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY*/

body {
font-family: 'Nunito', sans-serif;
background-image: url(../image/5603526_1876.jpg);
background-position: top center;
background-size: 100% auto;
background-repeat: no-repeat;
background-color: var(--color-background-main);
color: var(--color-primary-main);
}



/*HEADER*/

header {
    display: flex;
    justify-content: center;
    max-width: 580px;
    margin: auto;
    margin-top: 15px;
}

header img {
    transition: transform .3s;
}

header img {
    animation: fromTop .6s .4s backwards;
}

header img:hover {
    transform: scale(1.1);
}

img.imagem-perfil{
    border-radius: 50%;
    border: 2px solid;
    border-color: var(--color-background-main);
    width: 120px;
    height: 120px;
}

/*MAIN*/

main {
    max-width: 580px;
    margin: auto;
    margin-top: 15px;
}



/*SECTION*/

section {
    background-color: var(--color-secundary-main);
    backdrop-filter: blur (50px);
    opacity: 85%;
    border-top: 2px solid;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 25px;
}

section {
    animation: fromBottom .7s backwards;
}

section:nth-child(1) {
    animation-delay: 0 ;
}

section:nth-child(2) {
    animation-delay: .4s ;
}

section:nth-child(3) {
    animation-delay: .8s ;
}


section p.texto-explicativo {
    margin-top: 10px;
    margin-bottom: 10px;
}

section div ul {
    display: flex;
    list-style: none;
}


section div ul li {
    margin-right: 15px;
    transition: transform .3s;
}

section div ul li:hover {
    transform: scale(1.1);
}

section div ul li img {
   width: 150px;
   height: 90px;
}


/*ANIMAÇÃO*/

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

