* {
    margin: 0;
    padding: 0;
}

/*BODY*/

body {
    background-image: url(https://img.freepik.com/fotos-gratis/fundo-abstrato-do-papel-de-parede-de-fumaca-para-a-area-de-trabalho_53876-128249.jpg?w=740&t=st=1663287381~exp=1663287981~hmac=cec3649eb7b870c5cadda1f77d8c729894a224956f1e884f8ef6528e62eec0c8);
    
}



/*HEADER*/


