* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY*/

body {
font-family: 'Nunito', sans-serif;
background-image: url(../image/5603526_1876.jpg);
background-position: top center;
background-size: 100% auto;
background-repeat: no-repeat;
background-color: #08012B;
color: #08012B;
}



/*HEADER*/

header {
    display: flex;
    justify-content: center;
    max-width: 580px;
    margin: auto;
    margin-top: 15px;
}

img.imagem-perfil{
    border-radius: 50%;
    border: 2px solid;
    border-color: #f2d5e044;
    width: 120px;
    height: 120px;
}

/*MAIN*/

main {
    max-width: 580px;
    margin: auto;
    margin-top: 15px;
}

/*SECTION*/

section {
    background-color: #f2d5e044;
    border-top: 2px solid;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 25px;
}

section p.texto-explicativo {
    margin-top: 10px;
    margin-bottom: 10px;
}

section div ul {
    display: flex;
    list-style: none;
}


section div ul li {
    margin-right: 15px;
}

section div ul li img {
   width: 150px;
   height: 90px;
}

